@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');
*{	
	font-family: "Unbounded", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


@media only screen and (min-width: 1024px) {
    .icons {
        display: flex;
        flex-direction: row; /* Горизонтальное расположение */
        justify-content: space-around; /* Равномерное распределение по ширине */
        align-items: center; /* Вертикальное выравнивание элементов */
        margin: auto;
        margin-left: 14rem !important;
        padding-top: 10rem; /* Как у вас в изначальном коде */
        max-width: 100%; /* Динамическая ширина */
        gap: 2rem; /* Расстояние между элементами */
    }
    .blue {
        margin: auto;
        width: 100%; /* Используем всю ширину экрана */
        padding: 2rem; /* Внутренний отступ */
        border-radius: 5rem; /* Округление углов */
    }
    .icons img {
        width: 120px; /* Устанавливаем фиксированный размер для иконок */
        height: auto; /* Сохраняем пропорции */
    }
    .icons p {
        font-size: 1.2rem; /* Размер шрифта для текста */
        margin-left: 0.5rem; /* Отступ от иконки */
        text-align: left; /* Оставляем текст по левому краю */
    }
}





@media only screen and (min-width: 1880px) {
    .icons {
        margin-top: -27rem !important;
		margin-left: 12rem !important;
		gap: 2rem;
    }
    .blue {
        margin: auto;
        width: 89% !important;
    }
}


.target{
	float: left;
	shape-outside: polygon(78.48% 437px, 106.00% 90.77%, 439px 12.69%);
	
}

.contract{
	float: right;
	shape-outside: polygon(29.46% 157px, -11.58% 81.72%, -20px 9.61%);
	
}

.invite{
	float: right;
	shape-outside: polygon(-8.43% 520px, -11.58% 81.72%, 66px 13.42%);
}

.results{
	float: left;
	shape-outside: polygon(96.45% 214px, 107.17% 61.47%, 386px 14.14%);
}

.icons {
	justify-content: space-between;
	max-width: 10rem;
	align-items: center;
	margin-top: -26rem;
	margin-left: 12rem;
	gap: 2rem;
  }

.blue{
	margin: auto;
	padding-top: 20rem;
	margin-top: 5rem;
	width: 95%;
}