@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');
*{	
	font-family: "Unbounded", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


@media only screen and (min-width: 1024px) {
    .icons {
		margin: auto;
        margin-left: 3rem !important;
		padding-top: 12rem;
		max-width: 9rem !important;
    }
    .blue {
        margin: auto;
        width: 100% !important;
    }
}

@media only screen and (min-width: 1880px) {
    .icons {
        margin-top: -27rem !important;
		margin-left: 12rem !important;
		gap: 2rem;
    }
    .blue {
        margin: auto;
        width: 89% !important;
    }
}


.target{
	float: left;
	shape-outside: polygon(78.48% 437px, 106.00% 90.77%, 439px 12.69%);
	
}

.contract{
	float: right;
	shape-outside: polygon(29.46% 157px, -11.58% 81.72%, -20px 9.61%);
	
}

.invite{
	float: right;
	shape-outside: polygon(-8.43% 520px, -11.58% 81.72%, 66px 13.42%);
}

.results{
	float: left;
	shape-outside: polygon(96.45% 214px, 107.17% 61.47%, 386px 14.14%);
}

.icons {
	justify-content: space-between;
	max-width: 10rem;
	align-items: center;
	margin-top: -26rem;
	margin-left: 12rem;
	gap: 2rem;
  }

.blue{
	margin: auto;
	padding-top: 20rem;
	margin-top: 5rem;
	width: 89%;
}