@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');
*{	
	font-family: "Unbounded", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.target{
	float: left;
	shape-outside: polygon(78.48% 437px, 106.00% 90.77%, 439px 12.69%);
	
}

.contract{
	float: right;
	shape-outside: polygon(29.46% 157px, -11.58% 81.72%, -20px 9.61%);
	
}

.invite{
	float: right;
	shape-outside: polygon(-8.43% 520px, -11.58% 81.72%, 66px 13.42%);
}

.results{
	float: left;
	shape-outside: polygon(96.45% 214px, 107.17% 61.47%, 386px 14.14%);
}

.icons {
	display: flex;
	justify-content: space-between;
	gap: 33rem; /* Расстояние между элементами */
	max-width: 15rem;
	margin-left: 5rem;
  }
.text{
	display: flex;
	justify-content: space-between;
	gap: 34rem; /* Расстояние между элементами */
	max-width: 7rem;
	margin-left: 3rem;
}