<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="/ForTailWindCSS/styleTW.css">
    <link rel="stylesheet" href="{% static 'css/styleForContacts.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex-auto relative w-full h-screen" style="background-color: #131313;">
    <header>
    <div>
        <nav class="flex items-center">
            <ul class="flex-1 text-center pt-5 text-xl font-normal">
                <li class="list-none inline-block px-10 pb-5"><a href="{% url 'index' %}" class="no-underline text-white px-1 hover:text-[#90bbfc] transition duration-300">Домой</a></li>
                <li class="list-none inline-block px-10"><a href="{% url 'about' %}" class="no-underline text-white px-1 hover:text-[#90bbfc] transition duration-300">О нас</a></li>
                <li class="list-none inline-block px-10"><a href="{% url 'login' %}" class="no-underline text-white bg-[#0763EC] hover:bg-[#073882] hover:text-white rounded-3xl px-3 py-3 transition duration-300">Войти | Регистрация</a></li>
                <hr class="sm:m-auto mt-6" width="100%" size="2">
            </ul>
        </nav>
    </div>
    </header>
    <main class="h-dvh">
        <div class="text-white">
            <span class=" mt-14 ml-32 lg:mt-20 lg:ml-28 before:block before:absolute before:-inset-6 before:-skew-y-2 before:skew-x-12 before:bg-blue-600 relative inline-block ">
                <h1 class="font-semibold lg:text-left lg:text-5xl relative">КОНТАКТЫ:</h1>
            </span>
        </div>
        <div class="map">
            <div class="map-wrap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2906.4959770214814!2d76.95486197554554!3d43.241026078992384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836efbcb65def7%3A0x5004a2dcfd21b0bc!2z0KbQtdC90YLRgNCw0LvRjNC90L7QsNC30LjQsNGC0YHQutC40Lkg0YLQtdGF0L3QuNC60L4t0Y3QutC-0L3QvtC80LjRh9C10YHQutC40Lkg0LrQvtC70LvQtdC00LYgKNCm0JDQotCt0Jop!5e0!3m2!1sru!2skz!4v1733405947995!5m2!1sru!2skz" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="map-border"></div>
        </div>
        <div class="text-white text-center mt-10 lg:text-left lg:mt-28 lg:ml-36 lg:text-xl font-extralight">
            <p>Номер телефона: +7 776 206 14 88</p>
            <br>
            <p>Эл.почта: moneyup1925@gmail.com</p>
            <br>
            <p>Адрес: проспект Достык 108, Алматы</p>
        </div>
    </main>
</body>
</html>
