<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="{% static 'ForTailWindCSS/styleTW.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleForPA1.css' %}">
   
</head>
<body style="background-color: #131313;">

    <main class="main">
        <!-- первый шкебедееее -->
        <section class="container1">
            <div class="profile-info">
                <form method="POST" enctype="multipart/form-data" action="{% url 'update_profile' %}">
                    {% csrf_token %}
                    <label for="profile_picture">
                        <img class="rounded-full" 
                         alt="Аватар" 
                         src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}{% static 'img/User.png' %}{% endif %}">
                    </label>
    
                    <input type="file" id="profile_picture" name="profile_picture" style="display: none;">
                    <button type="submit" class="logout-button">Обновить фото</button>
                </form>

                <input type="file" id="avatar-upload" style="display: none;" accept="image/*">
                <h1>{{ user.username }}</h1>
                <h1 class="tall">{{ user.email }}</h1>
            </div>
        </section>

        <!-- второй шкебеде -->
        <section class="container2">
            <h2 class="contracts-title">Договоры</h2>
            <a href="{% url 'contract_list' %}" class="contract">Мои договоры</a>
            
            <a href="{% url 'logout' %}" class="logout-button">Выйти</a>
        </section>
    </main>

</body>
</html>