<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Название компании</title>
    <link rel="stylesheet" href="{% static '' %}">
    <link rel="stylesheet" href="{% static 'css/styleIndex.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <script defer src="app.js"></script>-->
    <script defer src="{% static 'js/app.js' %}"></script>
</head>
<body class="flex-auto relative w-full h-screen" style="background-color: #131313;">
    <header>
    <div>
        <nav class="flex items-center">
            <ul class="flex-1 text-center pt-5 text-xl font-normal">
                <li class="list-none inline-block px-10 pb-5"><a href="{% url 'index' %}" class="no-underline text-white px-1 hover:text-[#90bbfc] transition duration-300">Домой</a></li>
                <li class="list-none inline-block px-10"><a href="{% url 'about' %}" class="no-underline text-white px-1 hover:text-[#90bbfc] transition duration-300">О нас</a></li>
                {% if user.is_authenticated %}
                  <li class="list-none inline-block px-10"> <a href="{% url 'profile' %}" class="no-underline text-white px-1 hover:text-[#90bbfc] transition duration-300"> Личный кабинет</a></li>
                  
                   {% else %}
                     <li class="list-none inline-block px-10"> <a href="{% url 'login' %}" class="no-underline text-white px-1 hover:text-[#90bbfc] transition duration-300"> Войти</a></li>
                {% endif %}


                <hr class="sm:m-auto mt-6" width="100%" size="2">
            </ul>
        </nav>
    </div>
    </header>
        <main class="h-dvh">
            <div class="text-white mt-36 font-serif pr-72 text-center ">
                {% if user.is_authenticated %}
                    <h1 class="text-3xl font-normal px-7  lg:text-6xl lg:pr-80 lg:pt-2 lg:px-4">Оформить</h1>
                    <h1 class="text-2xl font-semibold px-4 pt-6 sm:text-5xl sm:pr-40 sm:pt-9">
                        <a href="{% url 'register' %}" 
                            class="no-underline text-white bg-[#0763EC] hover:bg-[#073882] hover:text-white rounded-xl px-2 py-1 transition-shadow duration-300 shadow-none hover:shadow-xl hover:shadow-[#073c82]">
                               Договор
                        </a>
                   </h1>
                    {% else %} 
                        <h1 class="text-3xl font-normal pr-52 px-7 lg:text-6xl lg:pr-7">Готовы ли вы наконец</h1>
                        <h1 class="text-3xl font-normal px-7 lg:text-6xl lg:pr-48 lg:pt-2 lg:px-8">придерживаться</h1>
                        <h1 class="text-3xl font-normal px-7  lg:text-6xl lg:pr-80 lg:pt-2 lg:px-4">своих целей?</h1>
                        <h1 class="text-3xl font-normal pr-52 px-7 pt-2 lg:text-6xl lg:pr-96 lg:pt-2 lg:px-1">Я обязуюсь</h1>
                        <h1 class="text-2xl font-semibold px-4 pt-6 sm:text-5xl sm:pr-40 sm:pt-9">
                             <a href="{% url 'register' %}" 
                                 class="no-underline text-white bg-[#0763EC] hover:bg-[#073882] hover:text-white rounded-xl px-2 py-1 transition-shadow duration-300 shadow-none hover:shadow-xl hover:shadow-[#073c82]">
                                    зарегистрироваться
                             </a>
                        </h1>
                {% endif %}

            </div>
                <div class="text-white -mt-20 pt-96 font-serif text-center">
                    <span class="before:block before:absolute before:-inset-6 before:-skew-y-2 before:-skew-x-12 before:bg-blue-600 relative inline-block ">
                            <h1 class="font-semibold text-2xl lg:text-6xl relative ">Как это работает?</h1>
                    </span>
                        
                        <h1 class="hiddden text-2xl pt-44 text-center lg:text-4xl lg:pt-44">1. Определите цель.</h1>            
                                <img class="hiddden target pt-12 h-auto max-w-xs lg:float-left" src="{% static 'img/icon.png' %}" alt="иконка">
                             <p class="hiddden text-sm pt-12 text-center font-normal lg:text-left lg:text-xl lg:pt-12 lg:pr-16">Хотите похудеть, освоить новый навык или сэкономить деньги? Четко сформулируйте цель и дедлайн: вместо «хочу похудеть» укажите «сбросить 5 кг за 3 месяца». Подумайте, почему это важно и как изменится ваша жизнь. Разбейте цель на этапы, чтобы отслеживать прогресс. Убедитесь, что она измерима, реалистична и достижима в срок. Чем яснее цель, тем проще её достичь.</p>

                        <h1 class="hiddden text-2xl pt-96 lg:text-4xl lg:pt-96">2. Создайте контракт.</h1> 
                                <img class="hiddden contract pt-10 h-auto max-w-xs lg:float-right" src="{% static 'img/icon1.png' %}" alt="Иконка">
                            <p class="hiddden text-sm pt-6 text-center font-normal lg:text-right lg:text-xl lg:pt-12 lg:pl-16"> Составьте виртуальный контракт с собой, указав цель, дедлайн и шаги для её достижения. Добавьте залог, который потеряете в случае невыполнения, и поощрение за успех. Сделайте контракт серьёзным: распечатайте и разместите на видном месте для ежедневного напоминания.</p>

                        <h1 class="hiddden text-2xl pt-96 lg:text-4xl lg:pt-96">3. Приглашайте своих близких.</h1> 
                                <img class="hiddden invite pt-10 h-auto max-w-xs lg:float-right" src="{% static 'img/icon2.png' %}" alt="ИкоНка">
                            <p class="hiddden text-sm text-center pt-6 font-normal lg:text-right lg:text-xl lg:pt-12 lg:pl-16"> Привлеките наблюдателя — друга, родственника или коллегу, который будет следить за вашим прогрессом, напоминать о цели и проверять выполнение шагов. Обсудите с ним детали контракта и сроки. Ответственность перед другими повышает мотивацию. Если никого нет рядом, найдите партнёра онлайн.</p>

                        <h1 class="hiddden text-2xl pt-96 lg:text-4xl lg:pt-96">4. Следите за результатами.</h1> 
                                <img class="hiddden results pt-10 h-auto max-w-xs lg:float-left" src="{% static 'img/icon3.png' %}" alt="ИконкА">
                             <p class="hiddden text-sm text-center font-normal lg:text-xl lg:pt-16 lg:pl-16"> Отмечайте свои успехи и двигайтесь к мечте! Ведите дневник или таблицу прогресса, где будете фиксировать каждый выполненный шаг и достигнутые результаты. Регулярно анализируйте свои действия: что работает хорошо, а что можно улучшить. Не забывайте поощрять себя за достижения, даже небольшие, чтобы поддерживать мотивацию. Каждый маленький успех приближает вас к большой цели, поэтому не игнорируйте важность регулярной обратной связи с самим собой.</p>                    
                </div>

                <h1 class="hiddden text-2xl text-white lg:text-6xl pt-96 text-center">
                    Наши достижения
                </h1>

                <div class="blue hiddden" style="background-color: #0763EC;">
                    <div class="icons flex text-white">
                        <div class="icon-block">
                            <img src="{% static 'img/Dollar.png' %}" alt="Dollar Icon">
                            <p class="text-xl">Выдано более миллиона тенге <br> на благотворительность</p>
                        </div>
                        <div class="icon-block">
                            <img src="{% static 'img/list.png' %}" alt="List Icon">
                            <p class="text-xl">Зарегистрировались более 1000 <br> человек</p>
                        </div>
                        <div class="icon-block">
                            <img class="mountain" src="{% static 'img/goal.png' %}" alt="Mountain Icon">
                            <p class="text-xl">Выполнено более 10000 целей</p>
                        </div>
                    </div>
                </div>
            <footer class="text-center">
                    <div class="flex justify-between items-center text-white mt-36 text-sm px-6 mb-4 lg:text-2xl">
                      <p class="flex-1 text-center">Контакты</p>
                      <p class="flex">© 2024</p>
                    </div>
            </footer>   
        </main>       
</body>
</html>