{% extends "base.html" %}

{% block content %}
<div class="flex items-center justify-center min-h-screen">
    <div class="bg-blue-600 p-8 rounded-lg w-96">
        <h2 class="text-2xl font-bold mb-6 text-center">Мои договоры</h2>
        <ul class="space-y-2">
            {% for contract in contracts %}
                <li class="text-white">
                    <a href="{% url 'contract_detail' contract.id %}" class="hover:text-[#90bbfc]">
                        Договор №{{ contract.id }} на {{ contract.amount }} USD - {{ contract.status }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'contract_create' %}" class="block text-center mt-4 bg-blue-700 hover:bg-blue-800 py-2 rounded text-white font-bold">
            Новый договор
        </a>
    </div>
</div>
{% endblock %}
